<div class="map">
  <img src="../assets/map.svg" alt="">
  <ng-container *ngFor="let pin of countries$ | async">
    <div [ngStyle]="{'bottom.%': pin.capitalInfo.latlng[0], 'left.%': pin.capitalInfo.latlng[1]}" class="pin">
      <img width="94" height="128" src="../assets/pin.png" (click)="showInformation(pin)">
      <div class="card">
        <div class="header">
          <img [src]="pin.flags.png" width="250" alt="">
        </div>
        <h2>{{pin.altSpellings[1] || pin.altSpellings }}|{{pin.capital}}</h2>
        <p>{{pin.continents}}</p>
        <p>{{pin.region}}</p>
        <a href="{{pin.maps.googleMaps}}">Ver en googleMaps</a>
      </div>
    </div>
  </ng-container>
</div>